/* CSS Code */
	/* Heading */
	h1 {
		color: orangered;
		font-size: 45px;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: dodgerblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: dodgerblue;
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: dodgerblue;
		font-size: 17px;
	}
    .btn6, .btn6:link, .btn6:visited {
        padding: 13px 0;
        border: 1px solid #333;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3px;
        transition: all .2s ease-in-out;
    }
        .btn6:hover {
          background: #333;
          border: 1px solid #333;
          color: #fefefe;
          border-radius: 30px;
        }
        .wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -259px;
            margin-left: -89px;
            text-align: center;
          }
          a {
            padding: 15px 30px;
            text-decoration: none;
            font-size: 18px;
            display: block;
            margin: 20px auto;
          }
          
      
      